
<%= form_for @tour_request, url: tour_request_path(id: @tour_request.id , t: @tour_request.token), method: :put do |f| %>
  <% if @tour_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_request.errors.count, "error") %> prohibited this tour_request from being saved:</h2>

      <ul>
      <% @tour_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if !@tour_request.has_contact_info? %> 
    <%= render "user", :f => f%>
  <% elsif @tour_request.preferred_tour_date.blank? %>
    <%= render "tour", :f => f%>
  <% else %>
    <%= render "rating", :f => f%>
 <% end %>


  <div class="actions">
    <%= f.submit "Continue"%>
  </div>
  
<% end %>
